<div data-role="page">
    <!-- 로고 -->
    <div data-role="header">
        <h1 class="logo" style="font-size:15px; font-weight:600;">AfterSquat</h1>
    </div> 
    <!--내용-->
    <div  data-role="content">
        <%= image_tag @post.image.url(:medium) %>
        <%= @post.content %>
        <!--작성된댓글-->    
        <h3><%= @post.comments.count %> Comments</h3>
            <% if @post.comments %>
                <% @post.comments.each do |comment| %>
                 <div class="comment">
                 <%= comment.user.user_name %>: <%= comment.content %>
                  <% if comment.user == current_user %>
                  <%= link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "진짜?" } do %>
                  <span>x</span>
                  <% end %>
                <% end%>
            <% end %>
        <% end %>
        <!--댓글폼-->
        <%= form_for [@post, @post.comments.new] do |f| %>
            <%= f.text_field :content, placeholder: 'Add a comment...' %>
        <% end %>
        </div>  
        
    </div>
    <!--하단버튼-->
    <div data-role="footer" data-position="fixed">
        <%= link_to "수정하기", edit_post_path(@post) %>
        <%= link_to "삭제하기", post_path(@post), method: :delete, data: { confirm: "정말로?" } %>
    </div>
</div>